################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Email Reminder/obj/
/Email Reminder/bin/
