################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Email-Reminder/bin/
/Email-Reminder/obj/
/Email Reminder/CV Sergio Moglia.pdf
/Email Reminder/CV Sergio Moglia.doc
